<app-bread-crumb [itens]="[{text:'Imagens', link:'/images'}, {text:pageTitle} ]"></app-bread-crumb>

<app-page-header [page-title]="pageTitle" button-link="/images" button-class="btn-light" button-text="<< Voltar"></app-page-header>

<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">
      Informações sobre a Imagem
    </div>
    <div class="card-body">
      <div class="form-row">
        <!-- name -->
        <div class="form-group col-md-6">
          <label for="name">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>
        <!-- file -->
        <div class="form-group col-md-6">
          <label for="profile">ISO</label>
          <input type="file" class="form-control-file" id="profile" (change)="onSelectedFile($event.target.files)">
          <app-form-field-error [form-control]="resourceForm.get('profile')"></app-form-field-error>
        </div>
      </div>
      <div class="form-row">
        <!-- description -->
        <div class="form-group col-md-7">
          <label for="description">Descrição</label>
          <input type="text" class="form-control" id="description" formControlName="description">
        </div>
        <!-- systemId -->
        <div class="form-group col-md-4">
          <label for="systemId">Sistema Operacional</label>
          <select name="systemId" id="systemId" class="form-control" formControlName="systemId">
            <option *ngFor="let system of systems" [value]="system.id">{{system.name}}</option>
          </select>
          <app-form-field-error [form-control]="resourceForm.get('systemId')"></app-form-field-error>
        </div>
      </div>
      <!--progress-->
      <div *ngIf="fileUpload.status!=='progress'">
        <div class="progress" style="height: 20px;margin-bottom:20px;">
          <div class="progress-bar" role="progressbar" [style.width.%]="fileUpload.message" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{fileUpload.message}}%</div>
        </div>
      </div>
      <!--message-->
      <app-file-upload-error-message [file-upload]="fileUpload"></app-file-upload-error-message>
    </div>
  </div>
  <app-server-error-messages [server-error-messages]="serverErrorMessages"></app-server-error-messages>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit" class="btn btn-primary btn-lg float-right mt-3">Salvar</button>
</form>

<pre>{{resourceForm.value | json }}</pre>
